<div class="mg-border-left mg-row-border-top mg-row-border-bottom py-10"></div>
<div id="config" class="config span-6 py-10 options-panel mg-row-border-top mg-row-border-bottom">

    <div class="panel-closed flex-row">

        <div class="panel-title">
            MIDI
        </div>

        <div id="midi-in1-led" class="label">
            in:
        </div>
        <select id="midi-input-device" class="device">
            <option>- select -</option>
        </select>

        <div id="midi-out-led" class="label">
            out:
        </div>
        <select id="midi-output-device" class="device">
            <option>- select -</option>
        </select>

        <div class="label">
            <div>ch:</div>
        </div>
        <select id="midi-channel">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">16</option>
        </select>

        <div class="label midi-in2">
            in 2:
        </div>
        <select id="midi-input2-device" class="device">
            <option>not used</option>
        </select>
        <div class="label">
            ch 2:
        </div>
        <select id="midi-input2-channel">
                    <option value="0"></option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                    <option value="11">11</option>
                    <option value="12">12</option>
                    <option value="13">13</option>
                    <option value="14">14</option>
                    <option value="15">15</option>
                    <option value="16">16</option>
                </select>

        <div class="midi-sync">
            <div class="menu-entry">
                <a id="menu-send" href="#"<i class="fas fa-download"></i></a>
                <div class="tooltip hidden">
                    Send the editor's current values to Enzo (does not save in Enzo's memory).
                </div>
            </div>
            <div class="menu-entry">
                <a href="#"><a href="#"><i class="fas fa-upload"></i></a></a>
                <div class="tooltip hidden">
                    Read Enzo and update the editor.
                </div>
            </div>

        </div>

<!--        <div class="flex-grow align-right">-->
<!--            <a href="#" id="toggle-log-descr">Hide History &amp; Description</a>-->
<!--                <span class="menu-entry"><a id="menu-size-out" href="#" title="Make the editor smaller."><i class="fas fa-search-minus" aria-hidden="true"></i></a></span>-->
<!--                <span class="menu-entry"><a id="menu-size-in" href="#" title="Make the editor bigger."><i class="fas fa-search-plus" aria-hidden="true"></i></a></span>-->
<!--        </div>-->

    </div>

    <div class="panel-opened closed">

    </div>
<!--
    <div class="header options-panel">
        <span class="close-app-prefs-panel close-panel-action" title="close and display the default panel">close <i class="far fa-window-close"></i></span>
        EDITOR PREFERENCES
    </div>

    <div class="settings-columns">

        <div class="settings-rows">

            <div class="g0">
                MIDI
            </div>
            <div></div>
            <div class="grid-3x3 grid-default-gap">
                <div>channel: </div>
                <div id="prefs_midi_channel"></div>
                <div><button id="prefs_clear_midi_channel">clear</button></div>
                <div>input device: </div>
                <div id="prefs_input_device"></div>
                <div><button id="prefs_clear_input_device">clear</button></div>
                <div>output device: </div>
                <div id="prefs_output_device"></div>
                <div><button id="prefs_clear_output_device">clear</button></div>
            </div>
            <div></div>

            <div class="g0">
                ENABLE MIDI INPUT 2
            </div>
            <div></div>
            <div>
                <input type="radio" name="enable-midi-in2" id="enable-midi-in2-1" value="1">Yes
                <input type="radio" name="enable-midi-in2" id="enable-midi-in2-0" value="0">No
            </div>
            <div></div>

            <div class="g0">
                DISPLAY CONTROL DESCRIPTION
            </div>
            <div></div>
            <div>
                <input type="radio" name="display_description" id="display_description-1" value="1">Yes
                <input type="radio" name="display_description" id="display_description-0" value="0">No
            </div>
            <div></div>

        </div>

        <div class="settings-rows">

            <div class="g0">
                INITIALIZE FROM URL
            </div>
            <div></div>
            <div>
                <select id="init_from_URL">
                    <option value="0">NO (init from the device and ignore URL)</option>
                    <option value="1">YES (and send values to the pedal)</option>
                </select>
            </div>
            <div>
            </div>

            <div class="g0">
                UPDATE URL
            </div>
            <div></div>
            <div>
                <select id="update_URL">
                    <option value="0">manually (with the URL menu entry)</option>
                    <option value="1">automatically after each randomization</option>
                    <option value="2">automatically after each init</option>
                    <option value="4">automatically after each randomization, init or preset load</option>
                    <option value="8">automatically every 500ms</option>
                </select>
            </div>
            <div></div>

            <div class="g0">
                EDITOR SIZE
            </div>
            <div></div>
            <div>
                <select id="prefs_zoom_level">
                    <option value="0">small</option>
                    <option value="1">default</option>
                    <option value="2">large</option>
                </select>
            </div>
            <div></div>

        </div>
    </div>

-->
</div>
<div class="mg-border-right mg-row-border-top mg-row-border-bottom py-10"></div>