<div id="load-preset-dialog" class="dialog lity-hide">
    <h2>Load preset from file</h2>
    <div class="dialog-instructions">
        Select one or several files containing an Enzo preset in sysex format (.syx file):
    </div>
    <div>
        <input type="file" id="preset-file" multiple="true" placeholder="preset file(s)" />
    </div>
    <div id="load-preset-error" style="margin:10px 0;color:red">
    </div>
</div>

<div id="edit-preset-dialog" class="dialog lity-hide">
    <input type="hidden" id="edit-preset-dialog-id" value="" />
    <h2>Preset name:</h2>
    <div>
        <input type="text" id="edit-preset-dialog-input" />
    </div>
    <h2>Description:</h2>
    <div>
        <textarea id="edit-preset-dialog-description" rows="5">
        </textarea>
    </div>
    <div style="text-align: right">
        <button type="button" id="edit-preset-save-button">Save</button>
    </div>
</div>
