<div class="mg-border-left mg-row-border-top mg-bottom-row"></div>
<div id="global-settings" class="options-panel span-6 mg-row-border-top mg-bottom-row">
    <div class="panel-closed flex-row globals-grid">
        <div class="panel-title">
            Global settings
            <a href="#" id="toggle-global-lock">
                <i id="global-lock-opened" class="fas fa-lock-open icon-btn closed" aria-hidden="true"></i>
                <i id="global-lock-closed" class="fas fa-lock icon-btn" aria-hidden="true"></i>
            </a>
        </div>
        <div id="global-0" class="global-setting-toggle">
            <span class="value-0 hidden">mono in</span>
            <span class="value-127">stereo in</span>
        </div>
        <div id="global-1" class="global-setting-toggle">
            <span class="value-0 hidden">instrument level</span>
            <span class="value-127">line level</span>
        </div>
        <div id="global-2" class="global-setting-toggle">
            <span class="value-0 hidden">buffered bypass</span>
            <span class="value-127">relay bypass</span>
        </div>
        <div id="global-3" class="global-setting-toggle">
            <span class="value-0 hidden">dry active</span>
            <span class="value-127">dry muted</span>
        </div>
        <div id="global-4" class="global-setting-toggle">
            <span class="value-0 hidden">trail off</span>
            <span class="value-127">trails on</span>
        </div>
        <div id="global-5" class="global-setting-toggle">
            <span class="value-0 hidden">global tempo</span>
            <span class="value-127">preset tempo</span>
        </div>
        <a href="#" id="refresh-global-settings" title="Read the global settings from Enzo">
            <i class="fas fa-sync-alt"></i>
        </a>
    </div>
</div>
<div class="mg-border-right mg-row-border-top mg-bottom-row"></div>