<div class="mg-border-left mg-row-border-top py-5"></div>
<div id="global-settings" class="options-panel span-6 mg-row-border-top mg-row-border-bottom py-5 Xclosed">

    <div class="panel-closed flex-row space-between">
        <div class="panel-title">
            <i class="fas fa-lock-open icon-btn" aria-hidden="true"></i>
            <i class="fas fa-lock icon-btn" aria-hidden="true"></i>
            Global settings
        </div>
        <div>stereo in</div>
        <div>instrument level</div>
        <div>buffered bypass</div>
        <div>dry active</div>
        <div>trail off</div>
        <div>global tempo</div>
    </div>

<!--
    <div class="panel-opened closed">
        <div>
            Global settings
        </div>
    </div>
-->

<!--
    <div class="header">
        <span class="close-settings-panel close-panel-action" title="close and display the default panel">close <i class="far fa-window-close"></i></span>
        GLOBAL SETTINGS
    </div>

    <div class="settings-columns">

        <div class="settings-rows">

            <div class="g0">
                INPUT MODE
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-0" id="global-0-0" value="0">
                    mono in
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-0" id="global-0-127" value="127">
                    stereo in (TRS)
                </label>
            </div>
            <div>
            </div>

            <div class="g0">
                BYPASS MODE
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-2" id="global-2-0" value="0">
                    buffered bypass
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-2" id="global-2-127" value="127">
                    relay bypass
                </label>
            </div>
            <div>
            </div>

            <div class="g0">
                TEMPO
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-5" id="global-5-0" value="0">
                    global tempo
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-5" id="global-5-127" value="127">
                    preset tempo
                </label>
            </div>
            <div>
            </div>

        </div>

        <div class="settings-rows">

            <div class="g0">
                INPUT LEVEL
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-1" id="global-1-0" value="0">
                    instrument level
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-1" id="global-1-127" value="127">
                    line level
                </label>
            </div>
            <div>
            </div>

            <div class="g0">
                KILL DRY
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-3" id="global-3-0" value="0">
                    dry active
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-3" id="global-3-127" value="127">
                    dry muted
                </label>
            </div>
            <div>
                With DRY MUTED, the pedal delivers wet only in active mode; in bypass, the entire pedal is muted.
            </div>

            <div class="g0">
                TRAILS
            </div>
            <div></div>
            <div>
                <label>
                    <input type="radio" class="global-config" name="global-4" id="global-4-0" value="0">
                    trails off
                </label>
                <label>
                    <input type="radio" class="global-config" name="global-4" id="global-4-127" value="127">
                    trails on
                </label>
            </div>
            <div>
            </div>

        </div>
    </div>
-->
</div>
<div class="mg-border-right mg-row-border-top mg-row-border-bottom py-5"></div>