<div class="mg-border-left mg-row-border-top mg-row-border-bottom py-10"></div>
<div id="messages" class="config span-6 py-10 options-panel mg-row-border-top mg-row-border-bottom">
    <div id="messages-list">
        <div>messages...</div>
        <div>messages...</div>
        <div>messages...</div>
        <div>messages...</div>
        <div>messages...</div>
        <div>messages...</div>
        <div>messages...</div>
    </div>
    <div id="control-infos">
        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem
    </div>
</div>
<div class="mg-border-right mg-row-border-top mg-row-border-bottom py-10"></div>