<div id="presets">
    <div id="pc-1" class="preset preset-id">1<span>&bull;</span></div>
    <div id="pc-2" class="preset preset-id">2<span>&bull;</span></div>
    <div id="pc-3" class="preset preset-id">3<span>&bull;</span></div>
    <div id="pc-4" class="preset preset-id">4<span>&bull;</span></div>
    <div id="pc-5" class="preset preset-id">5<span>&bull;</span></div>
    <div id="pc-6" class="preset preset-id">6<span>&bull;</span></div>
    <div id="pc-7" class="preset preset-id">7<span>&bull;</span></div>
    <div id="pc-8" class="preset preset-id">8<span>&bull;</span></div>
    <div id="pc-9" class="preset preset-id">9<span>&bull;</span></div>
    <div id="pc-10" class="preset preset-id">10<span>&bull;</span></div>
    <div id="pc-11" class="preset preset-id">11<span>&bull;</span></div>
    <div id="pc-12" class="preset preset-id">12<span>&bull;</span></div>
    <div id="pc-13" class="preset preset-id">13<span>&bull;</span></div>
    <div id="pc-14" class="preset preset-id">14<span>&bull;</span></div>
    <div id="pc-15" class="preset preset-id">15<span>&bull;</span></div>
    <div id="pc-16" class="preset preset-id">16<span>&bull;</span></div>
</div>
