<div class="mg-border-left mg-row-border-top mg-row-border-bottom py-10"></div>
<div id="presets" class="span-6 mg-row-border-top mg-row-border-bottom py-10">

    <div class="flex-row">

        <div class="presets-selectors pedal flex-grow">
            <div id="pc-1" class="preset preset-id">1<span class="dirty-dot">&bull;</span></div>
            <div id="pc-2" class="preset preset-id">2<span class="dirty-dot">&bull;</span></div>
            <div id="pc-3" class="preset preset-id">3<span class="dirty-dot">&bull;</span></div>
            <div id="pc-4" class="preset preset-id">4<span class="dirty-dot">&bull;</span></div>
            <div id="pc-5" class="preset preset-id">5<span class="dirty-dot">&bull;</span></div>
            <div id="pc-6" class="preset preset-id">6<span class="dirty-dot">&bull;</span></div>
            <div id="pc-7" class="preset preset-id">7<span class="dirty-dot">&bull;</span></div>
            <div id="pc-8" class="preset preset-id">8<span class="dirty-dot">&bull;</span></div>
            <div id="pc-9" class="preset preset-id">9<span class="dirty-dot">&bull;</span></div>
            <div id="pc-10" class="preset preset-id">10<span class="dirty-dot">&bull;</span></div>
            <div id="pc-11" class="preset preset-id">11<span class="dirty-dot">&bull;</span></div>
            <div id="pc-12" class="preset preset-id">12<span class="dirty-dot">&bull;</span></div>
            <div id="pc-13" class="preset preset-id">13<span class="dirty-dot">&bull;</span></div>
            <div id="pc-14" class="preset preset-id">14<span class="dirty-dot">&bull;</span></div>
            <div id="pc-15" class="preset preset-id">15<span class="dirty-dot">&bull;</span></div>
            <div id="pc-16" class="preset preset-id">16<span class="dirty-dot">&bull;</span></div>
        </div>

        <div class="presets-menu">
            <div class="preset-menu-wrapper">
                <a href="#" id="library-toggle-scroll" style="padding: 0 6px; float:right; display:none"><i class="fas fa-arrows-alt-v"></i></a>
                <a href="#" id="library-toggle"><i class="fas fa-bars"></i> <span id="library-toggle-label">Open library</span></a>
            </div>
        </div>

    </div>

    <div id="library" class="library closed">

        <div class="flex-row mt-10">

            <div id="presets-lib" class="presets-lib flex-grow scrollable">
<!--
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name" contenteditable="true">QqWmj0123/-;</div>
                        <i class="fas fa-pen preset-edit" aria-hidden="true"></i>
                    </div>
                    <i class="fa fa-times preset-delete" aria-hidden="true"></i>
                </div>
-->
                <div class="preset preset-editor" id="p0">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
                <div class="preset preset-editor">
                    <div class="preset-name-wrapper">
                        <div class="preset-name">&nbsp;</div>
                    </div>
                </div>
            </div>

            <div class="presets-menu">
                <div class="preset-menu-wrapper">
<!--                    <a href=""><i class="fas fa-bars"></i> Editor presets</a>-->
                    <div class="menu-entry">
                        <a id="menu-compact-library" href="#" title="Remove the empty slots between presets.">
                            <span class="menu-text">Compact</span>
                        </a>
                    </div>
                    <div class="menu-entry">
                        <a id="menu-delete-presets" href="#" title="Delete all presets.">
                            <span class="menu-text">Delete all</span>
                        </a>
                    </div>
                    <div class="menu-entry">
                        <a id="menu-load-preset" href="#" title="Load a preset from a sysex file and send the values to the Enzo (send as CC messages, not SysEx preset).">
<!--                            <i class="fas fa-folder-open" aria-hidden="true"></i>-->
                            <span class="menu-text">Import sysex</span>
                        </a>
                    </div>
                    <div class="menu-entry">
                        <a id="menu-download-sysex" href="#" title="Download the current editor's values as a sysex file.">
<!--                            <i class="fas fa-file-download" aria-hidden="true"></i>-->
                            <span class="menu-text">Export sysex</span>
                        </a>
                    </div>
<!--
                    <div class="menu-entry">
                        <a id="menu-add-preset" href="#" title="Keep the current preset in the editor storage">
                            <span class="menu-text">Save the current settings in the preset library</span>
                        </a>
                    </div>
-->
                    <div class="menu-entry">
                        <a id="menu-import-enzo" href="#" title="Read all Enzo presets and add them to the Library">
                            <span class="menu-text">Import from Enzo</span>
                        </a>
                    </div>
                    <div class="menu-entry">
                        <a id="menu-copy-to-enzo" href="#" title="Write the first 16 presets in Enzo memory">
                            <span class="menu-text">Copy to Enzo</span>
                        </a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
<div class="mg-border-right mg-row-border-top mg-row-border-bottom py-10"></div>