#main.main-global-settings {
    display: grid;
    grid-column-gap: 0.5vh;
    grid-row-gap: 0.5vh;
    grid-template-columns: repeat(6, 1fr);
}


#global-settings {
    grid-row: 3 / span 4;
    grid-column: 1 / span 6;
    color: var(--header-text);
}

#global-settings .header {
    border-bottom: 1px solid #4b3f00;
}

#global-params {
    padding: 5px;
    display: grid;
    grid-template-columns: auto auto;
    justify-items: start;
    justify-content: start;
    grid-column-gap: 20px;
    margin-bottom: 15px;
}

.g0 {
   margin: 15px 0 5px 0;
}

label {
    display: block;
}
