#header {
    /*background: transparent !important;*/
    /*border-top-color: transparent !important;*/
    /*border-left-color: transparent !important;*/
    /*border-right-color: transparent !important;*/

    display: flex;
    /*align-items: flex-end;*/
    justify-content: space-between;
    color: var(--header-text);
    padding-top: 7px;
}

/*
#header h1 {
    font-weight: 300;
    color: var(--title-text);
    padding: 0;
    margin: 0;
}
*/

/*
.by-studiocode {
    margin-left: 5px;
}
*/

/*
#header > div.neon,
#header > div.menu {
    flex-grow: 2;
    margin-bottom: 0.25rem;
    align-self: start!important;
}
*/

.neon {
    /*font-family: Roboto, sans-serif;*/
    font-weight: bold;
}

#header > .menu {
    /*text-align: center;*/
}

.menu.middle {
    flex-grow: 2;
    display: flex;
    justify-content: center;
}

.menu.middle > div {
    margin: 0 20px;
}

.menu.right {
    display: flex;
}

.menu-bold {
    font-weight: 600;
}

.zoom-0 .menu {font-size: 0.85rem;}
.zoom-1 .menu {font-size: 1rem;}
/*.zoom-2 .menu {font-size: 1.25rem;}*/
/*.zoom-2 .menu {font-size: 2.5vh;}*/
.zoom-2 .menu {font-size: calc(6px + 1.0vw);}

.zoom-0 .menu .menu-entry {margin-left: 10px;}
.zoom-1 .menu .menu-entry {margin-left: 5px;}
.zoom-2 .menu .menu-entry {margin-left: 10px;}

.zoom-0 .menu .menu-text {display: none;}
