
.layout-S {
    width: calc(50vw - 1vh);
    /*height: calc(50vh - 0.5vh);*/
}

.layout-M {
    width: calc(70vw - 1vh);
    /*height: calc(70vh - 0.5vh);*/
}

.layout-L {
    width: calc(100vw - 1vh);
    height: calc(100vh - 0.5vh);
}

#main.layout-S {
    /*justify-content: center;*/
    font-size: 1rem;
    margin-top: 20vh;
}

#main.layout-M {
    /*justify-content: center;*/
    font-size: 1rem;
    margin-top: 10vh;
}

#main.layout-L {
    /*justify-content: stretch;*/
    font-size: 1rem;
}

.layout-S .stompswitch {
    font-size: 3rem;
}
.layout-M .stompswitch {
    font-size: 4rem;
}
.layout-L .stompswitch {
    font-size: 5rem;
}
.layout-S .knob {
    height: 8vh;
    margin: 0;
}
.layout-M .knob {
    height: 12vh;
    margin: 0;
}
.layout-L .knob {
    height: 16vh;
    margin: 0;
}
