
/*-DEBUG-----------*/

/*
.control-cell {
    padding: 40px 20px;
}
*/

/*-----------------*/

*:focus {
    outline: none;
}

html {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    background: var(--body-bg-color);
}

/*--- utils: ---*/

a {
    text-decoration: none;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.on {
    color: var(--value)!important;
}

.error {
    color: red;
}
.grid-2x1 {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    justify-items: center;
}

.grid-2x1 .bt {
    width: 75%;
}

.grid-3x2 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr;
}

.grid-3x2 .bt {
    margin-bottom: 0;
}

/*
.grid-3x3 {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
}
*/

.lowercase {
    text-transform: lowercase;
}

.pt-5 {
    padding-top: 5px;
}

.pb-5 {
    padding-bottom: 5px;
}

.pt-10 {
    padding-top: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.py-5 {
    padding-top: 5px;
    padding-bottom: 5px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.mt-10 {
    margin-top: 10px;
}

/*--- MENU ---*/

.menu-entry {
    position: relative;
}

.tooltip {
    position: absolute;
    top: 20px;
    left: 30px;
    width: 160px;
    background-color: lightgoldenrodyellow;
    opacity: 90%;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.875rem;
    z-index: 100;
}

.size-2 .tooltip {
    font-size: 1.7vw;
    width: 16vw;
    top: 44px;
}

/*--- MAIN GRID ---*/

#wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*min-height: 100vh;*/
    margin: 0;
    padding: 0;
    /*background-color: lightgoldenrodyellow;*/
}

#main-grid {
    /*flex-grow: 1;*/
}
#main-grid {
    display: grid;
    grid-template-columns: 20px repeat(6, 1fr) 20px;
    align-content: center;
    /*background-color: lightgoldenrodyellow;*/
    /*background-image: url("../img/bg-logo-opacity5.png"), linear-gradient(to right, #ffa, #fdb53e 1%, #fdb53e 99%, #ffa);*/
    /*background-repeat: no-repeat;*/
    /*background-position: center;*/
    /*background-size: contain;*/
}

.controls-row {
    padding-top: 10px;
}

.size-0 .controls-row {
    padding-top: 5px;
}

.size-2 .controls-row {
    padding-top: 15px;
}

/*#main-grid > div {*/
/*    background: transparent;*/
/*}*/

/*
.mg-border-left.mg-top-row {
    border-radius: 10px 0 0 0;
}
.mg-border-right.mg-top-row {
    border-radius: 0 10px 0 0;
}

.mg-border-left.mg-last-row {
    border-radius: 0 0 0 10px;
}
.mg-border-right.mg-last-row {
    border-radius: 0 0 10px 0;
}
*/

.span-2 {
    grid-column: span 2;
}

.span-6 {
    grid-column: span 6;
}

/*
.grid-panel {
    border-top: 2px solid black;
}
*/

/*
#global-settings,
#app-preferences {
    !*padding: 30px 0;*!
}
*/

.panel-title {
    font-weight: bold;
}

.padding-0 {
    padding: 0!important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.flex-grow {
    flex-grow: 1;
}

.align-right {
    text-align: right;
}

.closed {
    display: none;
}

.panel-content {
    padding: 40px;
}

.btn {
    margin-left: 10px;
    color: blue;
    cursor: pointer;
}


