
.presets-selectors {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 3px;
}

.presets-selectors > div {
    text-align: center;
}

.presets-lib {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 3px;
    /*padding: 5px 0;*/
}

.presets-selectors > div,
.presets-lib > div {
    border: 1px solid #777;
    overflow-x: hidden;
    white-space: nowrap;
}

.presets-menu {
    width: 150px;
    padding: 0 0 0 10px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.presets-menu .menu-entry {
    margin-right: 20px;
}

.preset-number {
    /*font-weight: bold;*/
}

.preset-name {
    margin-left: 5px;
    font-size: 1rem;
}

.presets-lib .preset-name {
    margin-left: 0;
}

/*
.preset > span {
    position: absolute;
    right: 2px;
    top: -8px;
    font-size: 120%;
}

.preset.dirty > span {
    display: block;
}
*/

.presets-selectors > div {
    background-color: #e4e474;
}

.preset-menu-wrapper {
    margin-top: 5px;
}

.zoom-0 .preset {
    padding: 2px 0;
    font-size: 1rem;
}
.zoom-1 .preset {
    padding: 2px 4px;
    font-size: 1.25rem;
}

/*.zoom-1 .presets-lib .preset {*/
/*    padding: 2px 4px;*/
/*}*/

/*.zoom-2 .preset {padding: 8px 0; font-size: 2rem;}*/
.zoom-2 .preset {font-size: 3.5vmin;}


/*.zoom-0 .preset > span {right: 2px; top: -4px; font-size: 120%;}*/
/*
.zoom-1 .preset > span {
    right: 2px;
    top: -8px;
    font-size: 120%;
}
*/
/*.zoom-2 .preset > span {right: 4px; top: -8px; font-size: 120%;}*/
