<div class="mg-border-left mg-row-border-top controls-row"></div>
    <!--
        PITCH
    -->
    <div id="pitch" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="16">
            <div class="header-shortcut hidden">[C,V]</div>
            <div>pitch</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-16"></svg>
        </div>
    </div>
    <!--
        PORTAMENTO
    -->
    <div id="portamento" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="22">
            <div class="header-shortcut hidden">[O]</div>
            <div>portamento</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-22"></svg>
        </div>
    </div>
    <!--
        FILTER
    -->
    <div id="filter" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="17">
            <div class="header-shortcut hidden">[F,G]</div>
            <div>filter</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-17"></svg>
        </div>
    </div>
    <!--
        FILTER TYPE
    -->
    <div id="filter-type" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="23">
            <div>filter type</div>
        </div>
        <div id="cc-23-options" class="grid-3x2 controls-options-grid">
            <div id="cc-23-0" class="bt">LP</div>
            <div id="cc-23-87" class="bt">v. LP</div>
            <div id="cc-23-32" class="bt">BP</div>
            <div id="cc-23-115" class="bt">v. BP</div>
            <div id="cc-23-59" class="bt">HP</div>
            <div id="cc-23-127" class="bt">v. HP</div>
        </div>
    </div>
    <!--
        MIX
    -->
    <div id="mix" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="18">
            <div class="header-shortcut hidden">[Y,X]</div>
            <div>mix</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-18"></svg>
        </div>
    </div>
    <!--
        DELAY LEVEL
    -->
    <div id="delay-level" class="grid-default mg-row-border-top controls-row">
        <div class="header exp infos" data-infos="24">
            <div class="header-shortcut hidden">[K,L]</div>
            <div>delay level</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-24"></svg>
        </div>
    </div>
<div class="mg-border-right mg-row-border-top controls-row"></div>

<div class="mg-border-left controls-row"></div>
    <!--
        SUSTAIN
    -->
    <div id="sustain" class="grid-default controls-row">
        <div class="header exp infos" data-infos="19">
            <div class="header-shortcut hidden">[DEL,B,N]</div>
            <div>sustain</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-19"></svg>
        </div>
    </div>
    <!--
        RING MODULATION
    -->
    <div id="ring-mod" class="grid-default controls-row">
        <div class="header exp infos" data-infos="25">
            <div class="header-shortcut hidden">[Z,U]</div>
            <div>ring mod</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-25"></svg>
        </div>
    </div>
    <!--
        FILTER ENVELOPE
    -->
    <div id="filter-env" class="grid-default controls-row">
        <div class="header exp infos" data-infos="20">
            <div>filter env</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-20"></svg>
        </div>
    </div>
    <!--
        FILTER BANDWITDH
    -->
    <div id="filter-bandwidth" class="grid-default controls-row">
        <div class="header exp infos" data-infos="26">
            <div class="header-shortcut hidden">[H,J]</div>
            <div>filter Q</div>
            <i class="fas fa-lock icon-btn control-lock control-26 hidden" style="font-size: 0.75rem;color:#777" aria-hidden="true"></i>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-26"></svg>
        </div>
    </div>
    <!--
        MODULATION
    -->
    <div id="modulation" class="grid-default controls-row">
        <div class="header exp infos" data-infos="21">
            <div class="header-shortcut hidden">[-,+]</div>
            <div>modulation</div>
            <i class="fas fa-lock icon-btn control-lock control-21 hidden" style="font-size: 0.75rem;color:#777" aria-hidden="true"></i>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-21"></svg>
        </div>
    </div>
    <!--
        DELAY FEEDBACK
    -->
    <div id="delay-feedback" class="grid-default controls-row">
        <div class="header exp infos" data-infos="27">
            <div>dly feedback</div>
            <i class="fas fa-lock icon-btn control-lock control-27 hidden" style="font-size: 0.75rem;color:#777" aria-hidden="true"></i>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-27"></svg>
        </div>
    </div>
<div class="mg-border-right"></div>

<div class="mg-border-left mg-row-border-bottom pb-5"></div>
    <!--
        TAP
    -->
    <div id="tap" class="grid-default mg-last-row mg-row-border-bottom pb-5">
        <div class="header infos" data-infos="28">
            <div class="header-shortcut hidden">[T]</div>
            <div>tap</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-28-127" class="momentary-switch">
                    <i id="cc-28-127-off" class="fas fa-circle" aria-hidden="true" title="click to switch on"></i>
                    <i id="cc-28-127-on" class="sw-off sw-on fas fa-circle" aria-hidden="true" title="click to switch off"></i>
                </div>
            </div>
        </div>
    </div>
    <!--
        MAX DELAY FEEDBACK
    -->
    <!--
            <div id="max-delay-feedback" class="grid-default controls-row">
                <div class="header">
                    <div>max delay feedback</div>
                </div>
                <div class="controls">
                </div>
            </div>
    -->
    <!--
        TEMPO
    -->
    <div id="tempo" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="15">
            <div id="tempo-label" title="click to toggle between [ms] and [BPM]">tempo MS</div>
        </div>
        <div class="controls">
            <svg class="knob" id="cc-15"></svg>
        </div>
    </div>
    <!--
        ENVELOPE TYPE
    -->
    <div id="env-type" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="9">
            <div>env type</div>
        </div>
        <div id="cc-9-options" class="grid-2x1 controls-options-grid">
            <div id="cc-9-0" class="bt">TRIGGERED</div>
            <div id="cc-9-127" class="bt">FOLLOWER</div>
        </div>
    </div>
    <!--
        SYNTH MODE
    -->
    <div id="synth-mode" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="29">
            <div>synth</div>
        </div>
        <div id="cc-29-options" class="synth-mode-grid controls-options-grid">
            <div id="cc-29-0" class="bt">DRY</div>
            <div id="cc-29-95" class="bt">ARP</div>
            <div id="cc-29-63" class="bt">MONO</div>
            <div id="cc-29-127" class="bt">POLY</div>
        </div>
        <div id="cc-30-options" class="synth-wave-grid controls-options-grid">
            <div id="cc-30-0" class="bt">SAW</div>
            <div id="cc-30-127" class="bt">SQUARE</div>
        </div>
    </div>
    <!--
        EXP
    -->
    <div id="exp-controler" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header exp infos" data-infos="4">
            <div>EXP</div>
        </div>
        <div class="exp_wrapper">
            <div id="exp-a1"></div>
            <div id="exp-a2" class="slider-combo">
                <svg id="cc-4" class="slider"></svg>
            </div>
            <div id="exp-close" class="exp-switch"><div class="btx" id="exp-close-bt" title="Click to switch to edit the EXP (toe-down) values">toe</div></div>
            <div id="exp-open">heel</div>
            <div id="cc-4-value" class="slider-value"></div>
            <div id="exp-copy" class="btx" title="Click to copy the heel (normal) values to the toe values.">copy</div>
        </div>
    </div>
    <!--
        BYPASS
    -->
    <div id="bypass" class="grid-default mg-last-row mg-row-border-bottom controls-row pb-5">
        <div class="header infos" data-infos="14">
            <div class="header-shortcut hidden">[SPACE]</div>
            <div>bypass</div>
        </div>
        <div class="controls">
            <div class="stompswitch">
                <div id="cc-14-127" class="sw"><i class="fas fa-circle" aria-hidden="true" title="click to switch on"></i></div>
                <div id="cc-14-0" class="sw sw-off sw-on"><i class="fas fa-circle" aria-hidden="true" title="click to switch off"></i></div>
            </div>
        </div>
    </div>
<div class="mg-border-right mg-last-row mg-row-border-bottom controls-row pb-5"></div>