<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#000000">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="description" content="Control your Meris Enzo effect pedal directly from your web browser." />
    <meta name="author" content="François Georgy" />
    <meta property="og:title" content="Meris Enzo Editor by StudioCode.dev">
    <meta property="og:description" content="An editor for the Meris Enzo effect pedal. All you need, besides your Enzo, is a MIDI interface and a browser that supports the WebMIDI standard.">
    <meta property="og:image" content="https://studiocode.dev/enzo-editor/img/enzo-editor-v15.jpg">
    <meta property="og:url" content="https://studiocode.dev/enzo-editor/">
    <meta property="og:type" content="website">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image:alt" content="An editor for the Meris Enzo effect pedal.">
    <title>Enzo Editor by StudioCode.dev</title>
    <link rel="manifest" href="manifest.json" />
    <link rel="apple-touch-icon" href="apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
</head>
<body class="size-1">
    <div id="wrapper">
        <div id="main-grid" class="main-default">
            <div class="mg-border-left mg-top-row mg-row-border-bottom py-5"></div>
            <div id="header" class="span-6 mg-top-row py-5 mg-row-border-bottom">
                <div class="flex-row app-title">
                    <div>
                        <span class="neon bold">ENZO Editor</span> 1.9.2
                        <span class="">by <a href="https://studiocode.dev/" target="_blank" rel="noopener">StudioCode.dev</a></span>
                    </div>
                </div>
                <%= require('html-loader!./enzo/partials/menu.html') %>
            </div>
            <div class="mg-border-right mg-top-row mg-row-border-bottom py-5"></div>
            <%= require('html-loader!./enzo/partials/config.html') %>
            <%= require('html-loader!./enzo/partials/presets.html') %>
            <%= require('html-loader!./enzo/partials/controls.html') %>
            <%= require('html-loader!./enzo/partials/global-settings.html') %>
        </div>
    </div>
    <%= require('html-loader!./enzo/partials/dialogs.html') %>
    <%= require('html-loader!./enzo/partials/svg-gradients.html') %>
</body>
</html>